<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Time API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div>
                <h1 class="mb-5">TV Time API</h1>
                <h2>Movie Routes:</h2>
                <ul>
                    <li><strong>POST - </strong>/filme/register</li>
                    <li><strong>GET - </strong>/filme/list</li>
                    <li><strong>GET - </strong>/filme/list/:id_filme</li>
                    <li><strong>PUT - </strong>/filme/update/:id_filme</li>
                    <li><strong>DELETE - </strong>/filme/delete/:id_filme</li>
                </ul>
                <h2>Genre Routes:</h2>
                <ul>
                    <li><strong>POST - </strong>/genero/register</li>
                    <li><strong>GET - </strong>/genero/list</li>
                    <li><strong>GET - </strong>/genero/list/:id_genero</li>
                    <li><strong>PUT - </strong>/genero/update/:id_genero</li>
                    <li><strong>DELETE - </strong>/genero/delete/:id_genero</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>