<%-  include('includes/head'); %>
<%-  include('includes/nav'); %>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-lg-6">
            <form action="/user" method="POST">
                <div class="mb-3">
                  <label class="form-label">CPF</label>
                  <input type="text" class="form-control" name="cpf">
                </div>
                <div class="mb-3">
                  <label class="form-label">Primeiro Nome</label>
                  <input type="text" class="form-control" name="primeiro_nome">
                </div>
                <div class="mb-3">
                  <label class="form-label">Sobrenome</label>
                  <input type="text" class="form-control" name="sobrenome">
                </div>
                <div class="mb-3">
                  <label class="form-label">Mat Estudante</label>
                  <input type="text" class="form-control" name="mat_estudante">
                </div>
                <div class="mb-3">
                  <label class="form-label">MC</label>
                  <input type="number" class="form-control" name="mc">
                </div>
                <button type="submit" class="btn btn-primary">Criar usuario</button>
            </form>
        </div>
    </div>
</div>

<%- include('includes/footer') %>